body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-login {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.titulo-login {
    margin-bottom: 30px;
    color: #7f00ff;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #7f00ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #5d00c2;
}

.recordar {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

.recordar a {
    color: #7f00ff;
    text-decoration: none;
}
